---
layout: default
---

{% for quote in site.data.quotes %}
{% if quote.week == 01 %}
<blockquote>{{ quote.quote }}&nbsp;&nbsp;---&nbsp;{{ quote.author }}</blockquote>
{% endif %}
{% endfor %}

<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>

