<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">
  {% seo %}
</head>
<body>

<div class="marquee-wrap">
  <div class="marquee-content">
    <div class="item">🎉 hello coffee </div>
    <div class="item">📦 hello {{ site.title }}</div>
    <div class="item">✨ hello world</div>
    <div class="item">🎉 hello China</div>
    <div class="item">📦 hello DanDong</div>
    <div class="item">✨ hello cake</div>
    <!-- 克隆一份 -->
    <div class="clone">🎉 hello coffee</div>
    <div class="clone">📦 hello {{ site.title }}</div>
    <div class="clone">✨ hello world</div>
    <div class="clone">🎉 hello China</div>
    <div class="clone">📦 hello DanDong</div>
    <div class="clone">✨ hello cake</div>
  </div>
</div>

  <div class="container">
    {{ content }}
  </div>
</body>
</html>
